.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  color: white;
  background-color: #5757ff;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 1em;
  height: 100%;
  cursor: pointer;
}

.btn:hover {
  background-color: #6e6efb;
}

.chevron-down-icon,
.plus-icon {
  margin-left: 0.5em;
  cursor: pointer;
}

.col-2 {
  padding: 1em 0;
}

.input {
  background-color: #7b7bfd;
  padding: 0.5em 1em;
}

.avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  cursor: pointer;
}

.search-icon {
  margin-right: 0.5em;
}

.search {
  background-color: transparent;
  border: none;
}

.search::placeholder {
  color: white;
}

.icon {
  cursor: pointer;
}
